.ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.li {
  display: inline;
  float: left;
}
.nav-item {
  color: black;
  display: block;
  padding: 8px;
}
.is-active {
  background-color: rgb(76, 76, 248);
  color: white;
}
